{{!< default}}

<div class="content-area">
<main class="site-main">

    <div class="post-feed">
        {{#get "posts" filter="tag:blog"}}
            {{#foreach posts}}
                    {{> "loop"}}
            {{/foreach}}
        {{/get}}
    </div>

</main>
</div>
